
@{
    ViewBag.Title = "Verifikacija uspešna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-md-6 mt-5">
    <div class="py-5">
        <h2>@ViewBag.Title</h2>
        <div class="my-2"><hr /></div>
        <p>Uspešno ste verifikovali nalog, možete se bezbedno ulogovati</p>
        <br />
        <a href="/Account/Login">Ulogujte se</a>
    </div>
</div>