
@{
    ViewBag.Title = "Verifikujte e-mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container col-md-6 mt-5">
    <div class="py-4">
        <h3>Proverite vaš e-mail</h3>
        <div class="my-3"><hr /></div>
        <p>
            E-mail za verifikaciju vašeg naloga je poslat na vašu e-adresu,
            kliknite na link da biste verifikovali nalog.
        </p>

        <!-- ViewBag.Link ako se odlucim za tu varijantu -->
    </div>
</div>
