@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Neuspela prijava";
}

    <div class="container my-5">
        <div class="d-flex justify-content-start">
            <div class="col-md-5">
                <h5>Neuspela prijava!</h5>
                <hr />
                <p>Nažalost, prijava nije uspela</p><br />
                <a href="/Account/Login">Pokušajte ponovo</a>
            </div>
        </div>
    </div>
