
@model Users.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Resetovanje lozinke";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container my-5">
        <div class="row py-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h5 class="card-title my-auto">Unesite e-adresu</h5>
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary("", new { @class = "text-danger my-auto" })
                        <form action="/Account/ForgotPassword" method="post">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-sm btn-success shadow-sm w-100">Pošalji</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

