
@{
    ViewBag.Title = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row py-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>Uspešno ste resetovali lozinku</h2>
        <hr class="my-3" />
        <p><a href="/Account/Login">Ulogujte se</a>.</p>
    </div>
    <div class="col-md-4"></div>
</div>

<script>
    $(document).ready(() => {
        $("#footer").html("");
    })
</script>