

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container col-md-6">
    <div class="py-5">
        <div class="display-4 text-left">Ups! Stranica nije pronadjena...</div>
        <hr class="my-4"/>
        <p>Status: 404 - Page Not Found</p>
        <p>Stranica na koju ste pokušali pristupiti ne postoji, moguće je da se zatražili pogrešan URL ili je došlo do greške</p>
    </div></div>