
@{
    ViewBag.Title = "Greška";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-md-6 mt-5">
    <div class="py-5">
        <h1 class="text-danger">Greška.</h1>
        <hr class="my-2" />
        <p class="text-danger">Nažalost, došlo je do greške prilikom obrade zahteva, pokušajte ponovo.</p>
    </div>
</div>