
@{
    ViewBag.Title = "Nalog zaključan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-center">Nalog zaključan</h1>
    <p>Ovaj nalog je zaključan, molimo pokušajte kasnije</p>
</div>

<script>
    $(document).ready(() => {
        $("#footer").html("");
    })
</script>