
@{
    ViewBag.Title = "Sigurnost";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-md-6 my-5">
    <div class="d-flex justify-content-center">
        <div class="col-md-8 pt-5">
            <div class="d-flex justify-content-between">
                <h5>Dvofaktorska autentifikacija (2FA)</h5>
                <button class="btn btn-sm btn-success shadow-sm">Omogući</button>
            </div>
            <hr />
            <p>
                Dvofaktorska autentifikacija dodaje dodatni
                sloj sigurnosti vašem nalogu tako da za prijavu morate
                imati više od samo lozinke.
            </p>
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="card-title my-2">2FA metode</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="card-text">E-Adresa</div>
                        <form action="Sigurnost/Omoguci2FA" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-sm btn-success shadow-sm">Postavi</button>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>